---
import Layout from '../../layouts/Layoutadmin.astro';
import Dashboard from '../../components/admin/Dashboard.astro';
import KelolaKontak from '../../components/admin/kontak.astro';
---

<Layout title="Dashboard">
  <main>
    <Dashboard />
    <div class="my-8 sm:my-12"></div>

  <KelolaKontak />
  </main>
</Layout> 
